@model BookStoreAZ.MVC.Models.BooksModel

@{
    ViewBag.Title = "Manage Book";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}
<h3>Book Management</h3>


<div style="color:#000;background:#c0ebf2;"> @Model.Message </div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered"
               width="100%"
               cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-center">Image</th>
                    <th class="text-right">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-center">Image</th>
                    <th class="text-right">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-right">Action</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@book.Name</td>
                        <td>@book.Description</td>
                        <td class="text-center">
                            <img src="@book.Image" width="150" />
                        </td>
                        <td class="text-right">
                            @book.Price
                        </td>
                        <td class="text-center">@book.Quantity</td>
                        <td class="text-right">
                                <a class="btn btn-primary" href="~/Admin/ManageBook/@book.ID">
                                    <i class="fas fa-edit"></i>
                                    Edit
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav>
        <form action="#" method="POST">
            <ul class="pagination justify-content-end">

                <li class="page-item disabled">
                    <button name="page" value="1" class="page-link">
                        <i class="fas fa-fast-backward"></i>
                    </button>
                </li>

                <li class="page-item active">
                    <button name="page" value="1" class="page-link">1</button>
                </li>
                <li class="page-item active">
                    <button name="page" value="2" class="page-link">2</button>
                </li>
                <li class="page-item active">
                    <button name="page" value="3" class="page-link">3</button>
                </li>
                <li class="page-item active">
                    <button name="page" value="4" class="page-link">4</button>
                </li>

                <li class="page-item disabled">
                    <button name="page" value="5" class="page-link">
                        <i class="fas fa-fast-forward"></i>
                    </button>
                </li>
            </ul>
        </form>
    </nav>
</div>